<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'usuarios')}">

<body>

<script>
    $(function () {
        var usuarios = [document.getElementById("usuarios").value].toString().replace("[", "").replace("]", "").replace(/ /g, "").split(",");

        $("#busqueda").autocomplete({
            source: usuarios
        });
    });

</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

<h1>Invitar usuario a liga</h1>
<br>
<form th:object="${usuario}" th:action="@{/usuarios}" method="get"
      class="form-horizontal" id="search-usuario-form">
    <input type="hidden" id="usuarios" name="usuarios" th:value="${usuarios}"/>
    <div class="form-group">
        <div class="control-group" id="username">
            <label class="col-sm-2 control-label">Nombre de usuario </label>
            <div class="col-sm-10">
                <input class="form-control" id="busqueda" th:field="*{user.username}" size="30"
                       maxlength="80"/> <span class="help-inline"><div
                    th:if="${#fields.hasAnyErrors()}">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Buscar usuario <i class="fa fa-search-plus"
                                                                            aria-hidden="true"></i>
            </button>
        </div>
    </div>

</form>

<br/>


</body>
</html>
