<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'usuarios')}">

<body>

<h2>Mis invitaciones</h2>

<table id="ligas" class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Administrador</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:if="${invitaciones}">
        <tr th:each="invitacion : ${invitaciones}">
            <td th:text="${invitacion}"></td>
            <td><a class="btn btn-default" th:href="@{/micuenta/invitaciones/{nombreLiga}/aceptar (nombreLiga=${invitacion})}">Aceptar</a>
            </td>
            <td><a class="btn btn-default" th:href="@{/micuenta/invitaciones/{nombreLiga}/rechazar (nombreLiga=${invitacion})}">Rechazar</a>
            </td>
        </tr>
    </div>
    <div th:unless="${invitaciones}">
        <p> No tienes ninguna invitación todavía.</p>
    </div>

    </tbody>
</table>

</body>
</html>
