<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'usuario')}">

<body>


<h2>Mi cuenta</h2>


<table class="table table-striped" th:object="${usuario}">
    <tr>
        <th>Nombre</th>
        <td th:text="*{name}"/></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="*{email}"/></td>
    </tr>
    <tr>
        <th>Usuario</th>
        <td th:text="*{user.username}"/></td>
    </tr>
    <tr>
        <th>Invitaciones</th>
        <td th:text="*{invitaciones}"/></td>
    </tr>

</table>

<a class="btn btn-default"  th:href="@{micuenta/editarDatos/__${usuario.id}__/}"><span class="glyphicon glyphicon-pencil"></span>Editar mis datos</a>

<a class="btn btn-default"  th:href="@{micuenta/invitaciones}"><span class="glyphicon glyphicon-bullhorn"></span> Invitaciones</a>

</body>

</html>
