<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'usuarios')}">

<body>


<h2>Mi cuenta</h2>


<table class="table table-striped" th:object="${usuario}">
    <tr>
        <th>Nombre</th>
        <td th:text="*{name}"/></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="*{email}"/></td>
    </tr>
    <tr>
        <th>Usuario</th>
        <td th:text="*{user.username}"/></td>
    </tr>
    <div th:if="*{invitaciones!=null and !invitaciones.empty}">
    <tr>
        <th>Invitaciones</th>
        <td th:text="*{invitaciones}"/></td>
    </tr>
    </div>
    <div th:if="*{invitaciones==null or invitaciones.empty}">
        <tr>
            <th>Invitaciones</th>
            <td> No tienes invitaciones </td>
        </tr>
    </div>

</table>

<a class="btn btn-default"  th:href="@{micuenta/editarmisdatos}"><span class="glyphicon glyphicon-pencil"></span>Editar mis datos</a>

<div th th:object="${usuario}">
    <div th:if="*{invitaciones!=null and !invitaciones.empty}">
        <br><br>
<a class="btn btn-default"  th:href="@{micuenta/invitaciones}"><span class="glyphicon glyphicon-bullhorn"></span> Invitaciones</a>
</div>
</div>

</body>

</html>
