<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'rankingUsuarios')}">
<body>

<h2>Clasificación</h2>

<table id="clasificacionGeneral" class="table table-striped">
    <thead>
    <tr>
        <th>Usuario</th>
        <th>Puntos</th>
        <th>Valor del equipo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${equipos}">
        <td th:text="${equipo.usuario.user.username}"></td>
        <td th:text="${equipo.puntos}"></td>
        <td th:each="valor : ${valores}" th:text="${valor}"></td>
    </tr>
    </div>
    </tbody>
</table>

</body>
</html>
