<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'rankingUsuarios')}">
<body>

<h2>Top 5 equipos de usuarios</h2>

<table id="clasificacionGeneral" class="table table-striped">
    <thead>
    <tr>
        <th>Usuario</th>
        <th>Equipo</th>
        <th>Puntos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${equipos}">
        <td th:text="${equipo.usuario.user.username}"></td>
        <td th:text="${equipo.name}"></td>
        <td th:text="${equipo.puntos}"></td>
    </tr>
    </div>
    </tbody>
</table>

</body>
</html>
