<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>
<h2 th:if="${sonDeUsuario==true}">Tus últimos movimientos en la liga</h2>
<h2 th:if="${sonDeLiga==true}">Últimos movimientos de la liga</h2>

<div style="text-align: -webkit-center">
    <div th:if="${sonDeUsuario==true}" th:each="movimiento : ${misMovimientos}">
        <div th:if="${movimiento.jugador!=null}">
            <div class="content">
                <div class="card2">
                    <div class="firstinfo"><img th:src="*{movimiento.jugador.foto}"/>
                        <div class="profileinfo">
                            <h3 th:text="*{movimiento.textoPropio}"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${movimiento.jugador==null}">
            <div class="content">
                <div class="card2">
                    <div class="firstinfo"><img style="height: 80px" src="/resources/images/dinero.png">
                        <div class="profileinfo">
                            <h3 th:text="*{movimiento.textoPropio}"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:if="${sonDeLiga==true}" th:each="movimiento : ${movimientos}">
        <div th:if="${movimiento.jugador!=null}">
            <div class="content">
                <div class="card2">
                    <div class="firstinfo"><img th:src="*{movimiento.jugador.foto}"/>
                        <div class="profileinfo">
                            <h3 th:text="*{movimiento.texto}"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${movimiento.jugador==null}">
            <div class="content">
                <div class="card2">
                    <div class="firstinfo"><img style="height: 80px" src="/resources/images/dinero.png">
                        <div class="profileinfo">
                            <h3 th:text="*{movimiento.texto}"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
