<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'detallesJugador')}">

<body>

<div class="detJugador" style="float: left">
    <div style="display: inline-block; width: 70%;">
        <img class="fotoJugador" th:src="${jugador.foto}">
        <div class="vaespo">
            <h1><b th:text="${jugador.name}"></b></h1>
            <h2>Valor: <b th:text="${jugador.valor}"></b> mill. €</h2>
            <h2>Estado: <b th:text="${jugador.estadoLesion}"></b></h2>
            <h2><b th:text="${jugador.posicion}"></b></h2>
        </div>
        <div class="alpepi">
            <h2 class="separados"><b th:text="${jugador.altura}"></b> cm</h2>
            <h2 class="separados"><b th:text="${jugador.peso}"></b> kg</h2>
            <h2>Pierna <b th:text="${jugador.piePrimario}"></b></h2>
        </div>
    </div>
    <div style="float: right; margin: 2%">
        <img th:src="${jugador.club.escudo}">
        <h2 th:text="${jugador.club.name}"/>
    </div>
</div>

<div th:if="${tieneMedias}" class="medias">
    <h2 class="palabraMedia">Medias del jugador</h2>
    <div th:if="${esPortero}">
        <div class="col-md-3">
            <div class="stati turquoise ">
                <div>
                    <b th:text="${medias[3]}"></b>
                    <span>Puntos</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati bg-turquoise ">
                <div>
                    <b th:text="${medias[0]}"></b>
                    <span>Paradas</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati emerald ">
                <div>
                    <b th:text="${medias[1]}"></b>
                    <span>Disparos Recibidos</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati bg-emerald ">
                <div>
                    <b th:text="${medias[2]}"></bth:text></b>
                    <span>Goles Recibidos</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati peter_river ">
                <div>
                    <b th:text="${medias[4]}"></b>
                    <span>Minutos</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati bg-peter_river ">
                <div>
                    <b th:text="${medias[5]}"/>
                    <span>Tarjetas Amarillas</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati amethyst ">
                <div>
                    <b th:text="${medias[6]}"></b>
                    <span>Tarjetas Rojas</span>
                </div>
            </div>
        </div>

    </div>
    <div th:if="${esCCoDL}">
        <div class="col-md-3">
            <div class="stati turquoise ">
                <div>
                    <b th:text="${medias[6]}"></b>
                    <span>Puntos</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati bg-turquoise ">
                <div>
                    <b th:text="${medias[0]}"></b>
                    <span>Goles</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati emerald ">
                <div>
                    <b th:text="${medias[1]}"></b>
                    <span>Asistencias</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati bg-emerald ">
                <div>
                    <b th:text="${medias[2]}"></bth:text></b>
                    <span>Disparos a puerta</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati peter_river ">
                <div>
                    <b th:text="${medias[3]}"></b>
                    <span>Disparos realizados</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati bg-peter_river ">
                <div>
                    <b th:text="${medias[4]}"/>
                    <span>Penaltis Lanzados</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati amethyst ">
                <div>
                    <b th:text="${medias[5]}"></b>
                    <span>Penaltis marcados</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati bg-alizarin ">
                <div>
                    <b th:text="${medias[7]}"></b>
                    <span>Minutos</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati green_sea ">
                <div>
                    <b th:text="${medias[8]}"></b>
                    <span>Tarjetas Amarillas</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati nephritis ">
                <div>
                    <b th:text="${medias[9]}"></b>
                    <span>Tarjetas Rojas</span>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${esDF}">
        <div class="col-md-3">
            <div class="stati turquoise ">
                <div>
                    <b th:text="${medias[3]}"></b>
                    <span>Puntos</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati bg-turquoise ">
                <div>
                    <b th:text="${medias[0]}"></b>
                    <span>Robos</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati emerald ">
                <div>
                    <b th:text="${medias[1]}"></b>
                    <span>Bloqueos</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="stati bg-emerald ">
                <div>
                    <b th:text="${medias[2]}"></bth:text></b>
                    <span>Asistencias</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati bg-peter_river ">
                <div>
                    <b th:text="${medias[4]}"/>
                    <span>Minutos</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati amethyst ">
                <div>
                    <b th:text="${medias[5]}"></b>
                    <span>Tarjetas Amarillas</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stati wet_asphalt ">
                <div>
                    <b th:text="${medias[6]}"></b>
                    <span>Tarjetas Rojas</span>
                </div>
            </div>
        </div>
    </div>
    </ul>
</div>

<div class="statsJornada" style="float: right">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Jornadas
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li th:each="jornada : ${jornadas}"><a id=url th:text="*{jornada.numeroJornada}"
                                                   th:href="@{/jugador/{idJugador}/jornada/{numeroJornada} (idJugador= ${jugador.id}, numeroJornada= ${jornada.numeroJornada})}"/>
            </li>
        </ul>
    </div>

    <div th:if="${tieneEstadistica}" style="float: right">
        <h2>Estadísticas de la jornada <b th:text="${est.partido.jornada.numeroJornada}"/></h2>
        <h4>Puntos: <b th:text="${est.puntos}"/></h4>
        <h4>Minutos jugados: <b th:text="${est.minutosJugados}"></b></h4>
        <h4>Goles: <b th:text="${est.goles}"></b></h4>
        <h4>Asistencias: <b th:text="${est.asistencias}"></b></h4>
        <h4>Penaltis Marcados: <b th:text="${est.minutosJugados}"></b></h4>
        <h4>Penaltis Lanzados: <b th:text="${est.minutosJugados}"></b></h4>
        <h4>Disparos a puerta: <b th:text="${est.disparosPuerta}"></b></h4>
        <h4>Disparos totales: <b th:text="${est.disparosTotales}"></b></h4>
        <h4>Tarjetas amarillas: <b th:text="${est.tarjetasAmarillas}"></b></h4>
        <h4>Tarjetas rojas: <b th:text="${est.tarjetasRojas}"></b></h4>
        <h4>Robos: <b th:text="${est.robos}"></b></h4>
        <h4>Bloqueos: <b th:text="${est.bloqueos}"></b></h4>
        <div th:if="${esPortero}">
            <h4>Disparos Recibidos: <b th:text="${est.disparosRecibidos}"></b></h4>
            <h4>Goles Recibidos: <b th:text="${est.golesRecibidos}"></b></h4>
            <h4>Salvadas: <b th:text="${est.salvadas}"></b></h4>
        </div>
        <h4>Valoración: <b th:text="${est.valoracion}"></b></h4>
    </div>
    <div th:if="${tieneEstadistica== false}">
        <h4>El jugador no participó en esta jornada.</h4>
    </div>
</div>


</body>

</html>
