<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'wsJugadores')}">

<body>
<h1>Pulsa y se almacenan los jugadores en la base de datos.</h1>
<form th:object="${jugador}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    class="btn btn-default" type="submit" th:href="@{/WSJugadores}">Crear jugadores</button>
        </div>
    </div>
</form>
</body>
</html>
