<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'equiposReales')}">
<body>
<h1>Equipos de LaLiga</h1>
<p>PJ: Partidos Jugados, G: Ganados, E: Empatados, P: Perdidos, GF: Goles a Favor, GC: Goles en Contra, DG: Diferencia
    de Goles</p>
<table class="table">
    <thead>
    <tr>
        <th width="5%">#</th>
        <th width="20%">Equipo</th>
        <th width="10%">PJ</th>
        <th width="10%">G</th>
        <th width="10%">E</th>
        <th width="10%">P</th>
        <th width="10%">GF</th>
        <th width="10%">GC</th>
        <th width="10%">DG</th>
        <th width="5%">Puntos</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="equipo : ${equiposReales}">
        <td style="background-color: white" th:text="${equipo.posicion}"></td>
        <td style="background-color: white; text-align: center"><img style="float: left;" width="30px" height="30px"
                                                                     th:src="${equipo.escudo}"/><a
                th:href="@{/equiposLiga/{nombreEquipo} (nombreEquipo= ${equipo.name})}" th:text="${equipo.name}"/></td>
        <td style="background-color: white" th:text="${equipo.partidosJugados}"></td>
        <td style="background-color: white" th:text="${equipo.partidosGanados}"></td>
        <td style="background-color: white" th:text="${equipo.partidosEmpatados}"></td>
        <td style="background-color: white" th:text="${equipo.partidosPerdidos}"></td>
        <td style="background-color: white" th:text="${equipo.golesAFavor}"></td>
        <td style="background-color: white" th:text="${equipo.golesEnContra}"></td>
        <td style="background-color: white" th:text="${equipo.diferenciaGoles}"></td>
        <td style="background-color: white" th:text="${equipo.puntos}"></td>


    </tr>
    </div>
    </tbody>
</table>
<br>


</body>
</html>
