<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'banquillo')}">

<body>
<script>
    coloresPuntuaciones();
</script>
<th:block th:fragment="layout (jugadores, miEquipo)">

    <div style="margin-right: 12px; margin-bottom: 40px;">
        <h2>Banquillo</h2>
        <div style="display: inline-grid; float: left;" th:each="jugador : ${jugadores}">
            <div class="player"
                 style="border-radius:0%; background-image: url('/resources/images/banquillo2.png'); background-size:100px; width: 102px; height: 99px; display: inline-block">
                <div style="padding-top: 10px; padding-left: 23px;">
                    <div style="position:relative; display: inline-block">
                        <a th:href="@{/jugador/{idJugador}/jornada/1 (idJugador= ${jugador.id})}">
                            <img th:src="${jugador.foto}" class="image--cover img-responsive"></a>
                    </div>
                    <div style="position:absolute; top:0; padding-top: 50px; margin-left: 40px">
                        <img th:if="${jugador.estadoLesion}=='En forma'" style="width: 20px"
                             src="/resources/images/enForma.svg"/>
                        <img th:if="${jugador.estadoLesion}=='Lesionado'" style="width: 20px; transform: rotate(45deg)"
                             src="/resources/images/lesionado.svg"/>
                        <img th:if="${jugador.estadoLesion}=='Sancionado/No disponible'" style="width: 20px"
                             src="/resources/images/noDisponible.svg"/>
                    </div>
                </div>
                </a>
                <div class="info">
                    <div style="display:inline-block;float: left">
                        <b><h1 th:text="${jugador.name}" style="font-size: 20px"></h1></b>
                        <h4 th:if="${jugador.estadoLesion}=='En forma'"><b th:text="${jugador.estadoLesion} + ' ' "></b><img
                                style="width: 20px" src="/resources/images/enForma.svg"/></h4>

                        <h4 th:if="${jugador.estadoLesion}=='Sancionado/No disponible'"><b
                                th:text="${jugador.estadoLesion} + ' ' "></b><img style="width: 20px"
                                                                                  src="/resources/images/noDisponible.svg"/>
                        </h4>

                        <h4 th:if="${jugador.estadoLesion}=='Lesionado'"><b
                                th:text="${jugador.estadoLesion} + ' ' "></b><img
                                style="width: 20px; transform: rotate(45deg)" src="/resources/images/lesionado.svg"/>
                        </h4>
                        <h4>Posición: <b th:text="${jugador.posicion}"></b></h4>
                        <h4><b th:text="${jugador.valor}"></b> millones de €</h4>
                        <h4><b th:text="${jugador.puntos}"></b> puntos</h4>


                        <div th:if="${jugador.estadisticas.size==0}">
                            <h4>No ha jugado ninguna jornada</h4>
                        </div>
                        <div th:if="${jugador.estadisticas.size>0}">
                            <h4>Últimas jornadas jugadas:</h4>
                            <div style="display: inline-grid" th:each="e, it : ${jugador.estadisticas}"
                                 th:if="${it.index >= it.size-5}">
                                <div style="display: inline-block">
                                    <b>
                                        <h5 style="display: inline"><p
                                                th:text="J+${e.partido.jornada.numeroJornada}"></p></h5>
                                    </b>
                                </div>

                                <div class="circulo"><p th:text="${e.puntos}"></p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <a th:href="@{/jugador/{idJugador}/jornada/1 (idEquipo = ${jugador.club.id} ,idJugador= ${jugador.id})}">
                            <button class="botonSust">Ver detalles del jugador</button>
                        </a>

                        <div th:if="${otroEquipo}">
                            <br>
                            <a th:href="@{/liga/{idLiga}/nuevoIntercambio/{idJugador} (idLiga = ${liga.id} ,idJugador= *{id})}">
                                <button class="botonSust">Ofrecer intercambio</button>
                            </a>
                        </div>
                        <div th:if="${miEquipo}" style="display: inline-flex">
                            <br>
                            <a style="display: inline-flex; margin: 10px" th:href="@{/liga/{idLiga}/miEquipo/cambiarOnce/{idJugador} (idLiga = ${liga.id} ,idJugador= *{id})}">
                                <button class="botonSust">Sustituir</button>
                            </a>
                            <br><br>
                            <a style="display: inline-flex; margin: 10px" th:href="@{/liga/{idLiga}/vender/{idJugador} (idLiga = ${liga.id} ,idJugador= *{id})}">
                                <button class="botonSust">Vender</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
<br><br>


</body>
</html>
