<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <dialect xmlns="http://www.thymeleaf.org/extras/dialect"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.thymeleaf.org/extras/dialect
	                    http://www.thymeleaf.org/xsd/thymeleaf-extras-dialect-2.1.xsd"
             prefix="sec"
             namespace-uri="http://www.thymeleaf.org/extras/spring-security"
             namespace-strict="false"
             class="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="shortcut icon" type="image/png" th:src="@{/resources/images/logoFooter.png}"/>

    <title>FutGol</title>

    <link rel="stylesheet" th:href="@{/resources/css/futgol.css}"/>

</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><span></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span th:text="${text}">Template</span>
        </div>

        <div class="navbar-collapse collapse" id="main-navbar">

            <div sec:authorize="isAuthenticated()">

                <ul class="nav navbar-nav navbar-right">
                    <li th:class="${'home'==menu ? 'active' : ''}">
                        <a href='/'>
                            <i class="fa fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>

                    <li th:class="${'jornadas'==menu ? 'active' : ''}">
                        <a href='/jornadas'>
                            <i class="fa fa-futbol-o"></i>
                            <span>Jornadas</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown" data-hover="dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Rankings </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/topUsuarios"><i class="fa fa-users"></i> Top
                                Usuarios</a></li>
                            <li><a class="dropdown-item" href="/topJugadores"><i class="fa fa-star"></i> Top Jugadores
                            </a></li>
                        </ul>
                    </li>

                    <li th:class="${'equiposReales'==menu ? 'active' : ''}">
                        <a href='/equiposLiga'>
                            <i class="fa fa-shield"></i>
                            <span>Equipos</span>
                        </a>
                    </li>

                    <li th:class="${'ligas'==menu ? 'active' : ''}">
                        <a href='/misligas'>
                            <i class="fa fa-trophy"></i>
                            <span>Mis ligas</span>
                        </a>
                    </li>

                    <li th:class="${'usuarios'==menu ? 'active' : ''}">
                        <a href='/micuenta'>
                            <i class="fa fa-user-circle"></i>
                            <span>Mi cuenta</span>
                        </a>
                    </li>

                    <li>
                        <a href='/logout'>
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">

                    <li th:class="${'home'==menu ? 'active' : ''}">
                        <a href='/'>
                            <i class="fa fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    fa fa-star
                    <li class="nav-item dropdown" data-hover="dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Rankings </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/topUsuarios"><i class="fa fa-users"></i> Top
                                Usuarios</a></li>
                            <li><a class="dropdown-item" href="/topJugadores"><i class="fa fa-star"></i> Top Jugadores
                            </a></li>
                        </ul>
                    </li>

                    <li th:class="${'jornadas'==menu ? 'active' : ''}">
                        <a href='/jornadas'>
                            <i class="fa fa-futbol-o"></i>
                            <span>Jornadas</span>
                        </a>
                    </li>

                    <li th:class="${'equiposReales'==menu ? 'active' : ''}">
                        <a href='/equiposLiga'>
                            <i class="fa fa-shield"></i>
                            <span>Equipos</span>
                        </a>
                    </li>

                    <li th:class="${'registro'==menu ? 'active' : ''}">
                        <a href='/usuarios/registro'>
                            <i class="fa fa-user-plus"></i>
                            <span>Registro</span>
                        </a>
                    </li>

                    <li th:class="${'login'==menu ? 'active' : ''}">
                        <a href='/login'>
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="container xd-container">
        <div class="cargaPagina"></div>
        <div th:block th:include="${template}"/>


    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <div th:if="${'ligas-login'==menu}">

        <div id='snav' class='en'>
            <ul>
                <li>
                    <a th:href="@{/liga/{nombreLiga} (nombreLiga= ${liga.name})}">
                        <i class="fa fa-bars"></i>
                        <span>General</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/liga/{idLiga}/miEquipo(idLiga= ${liga.id})}">
                        <i class="fa fa-futbol-o"></i>
                        <span>Mi equipo</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/liga/{idLiga}/subastas (idLiga= ${liga.id})}">
                        <i class="fa fa-gavel"></i>
                        <span>Subastas</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/liga/{nombreLiga}/clasificacion (nombreLiga= ${liga.name})}">
                        <i class="fa fa-sort-amount-asc"></i>
                        <span>Clasificación</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/liga/{idLiga}/movimientos (idLiga= ${liga.id})}">
                        <i class="fa fa-users"></i>
                        <span>Movimientos</span>
                    </a>
                </li>
                <li>
                    <a href='#'>
                        <i class="fa-handshake"></i>
                        <span>Intercambios</span>
                    </a>
                </li>
                <li>
            </ul>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery(".cargaPagina").fadeOut("slow");
        ;
    });
</script>

<footer>
    <div class="footer_container">
        <div class="futgol">
            <img th:align="left" class="img-responsive" width="20%" height="40%"
                 src="../../static/resources/images/logoFooter.png" th:src="@{/resources/images/logoFooter.png}"/>
            <h1>FutGol</h1>
        </div>
        <div class="javi">
            <h2>Javier Rodríguez Santiago</h2>
            <div style="display: inline-block">
                <img th:align="left" class="image--cover img-responsive" width="30%" height="30%"
                     src="../../static/resources/images/javi.png" th:src="@{/resources/images/javi.png}"/>
                <h4>Software Engineer</h4>
                <div class="social_media" style="float: bottom">
                    <a href="https://github.com/javrodsan5"><i class="fa fa-github"></i></a>
                    <a href="https://linkedin.com/in/javier-rodríguez-santiago-0930b8189"><i
                            class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="fernando">
            <h2>Fernando Calvo Durán</h2>
            <div style="display: inline-block">
                <img th:align="left" class="image--cover img-responsive" width="30%" height="30%"
                     src="../../static/resources/images/fernando.png" th:src="@{/resources/images/fernando.png}"/>
                <h4>Software Engineer</h4>
            </div>
            <div class="social_media" style="float: bottom">
                <a href="https://github.com/fercaldur"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/fernando-calvo-durán-768823204"><i
                        class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
