<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>
<script>

    function formatoNumero(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + '.' + '$2');
        }
        return val;
    }

    function valorADinero() {
        var valor = document.getElementById("valor").value;

        document.getElementById("resultado").innerHTML = 'Vas a ofrecerle ' + formatoNumero(valor) + '€';
    }

</script>

<style>

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<h1> Vas a realizar un intercambio por el siguiente jugador</h1>
<div style="margin-left:45px;display: inline-block">
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="${jugador.foto}" width="210" height="295"/>
                    <span class="card-title" th:text="${jugador.name}"></span>
                </div>
                <div><b th:text="${jugador.puntos}"/> puntos</div>
                <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4" th:text="${jugador.name}"><i
                                class="material-icons right">close</i></span>
                </div>
                <div class="card-action">
                    <a th:href="@{/jugador/{idJugador}/jornada/1 (idJugador= ${jugador.id})}">
                        Ver detalles jugador</a>
                </div>

                </a>
            </div>
        </div>
    </div>
</div>
<div style="float: right">
    <h2>Valor jugador: <b th:text="${jugador.valor}"/> mill.€</h2>
</div>

<h1>¿Quieres añadir dinero a tu intercambio para convencerlo?</h1>
<form th:object="${intercambio}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
        <input type="number" th:min="0" th:max="${dineroRestante}" class="form-control" id="valor"
               onkeyup="valorADinero()" name="dinero">
        <br>
        <h2>Elige el jugador que le quieras ofrecer</h2>
        <h5>Jugador:Puntos:Posición:Valor</h5>
        <select name="jugadorCreadorIntercambio">
            <option th:each="j : ${misJugadores}"
                    th:value="${j.id}"
                    data-thumbnail= "${j.foto}"
                    th:text="${j.name}+' : '+${j.puntos}+' : '+${j.posicion}+' : '+${j.valor}"/>
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    class="btn btn-default" type="submit">Ofrecer intercambio
            </button>
        </div>
    </div>
</form>

</body>
</html>
