<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>

<script>
    function cambiarFormacion(formacion) {
        var jugadores = document.getElementsByClassName("player")
        for (i = 0; i < jugadores.length; i++) {
            var clase = jugadores[i].className

            if (clase.includes('433')) {
                jugadores[i].className = clase.replace('433', formacion);
            } else if (clase.includes('442')) {
                jugadores[i].className = clase.replace('442', formacion);
            } else if (clase.includes('352')) {
                jugadores[i].className = clase.replace('352', formacion);
            } else if (clase.includes('451')) {
                jugadores[i].className = clase.replace('451', formacion);
            } else {
                jugadores[i].className = clase.replace('532', formacion);
            }

        }
    }
</script>
<script>
    function coloresPuntuaciones() {
        var puntuaciones = document.getElementsByClassName("circulo");

        for (i = 0; i < puntuaciones.length; i++) {
            var clase = puntuaciones[i];
            var puntuacion = parseInt(puntuaciones[i].innerHTML.replace("<p>", "").replace("</p>", ""));

            if (puntuacion < 0) {
                clase.style.backgroundColor = "#cf3b36";
            } else if (puntuacion === 0 || (puntuacion > 0 && puntuacion <= 5)) {
                clase.style.backgroundColor = "#ffef40";
            } else if ((puntuacion > 5 && puntuacion < 10)) {
                clase.style.backgroundColor = "#3cdb39";
            } else if ((puntuacion >= 10 && puntuacion < 15)) {
                clase.style.backgroundColor = "#22c9b9";
            } else {
                clase.style.backgroundColor = "#e83ace";

            }

        }
    }

    coloresPuntuaciones();
</script>

<h2 th:if="${tengoEquipo}">

    <div th:if="${equipo.formacion}=='4-3-3'">
        <script>
            $(document).ready(function () {
                cambiarFormacion('433')
            });
        </script>
    </div>
    <div th:if="${equipo.formacion}=='3-5-2'">
        <script>
            $(document).ready(function () {
                cambiarFormacion('352')
            });
        </script>
    </div>
    <div th:if="${equipo.formacion}=='5-3-2'">
        <script>
            $(document).ready(function () {
                cambiarFormacion('532')
            });
        </script>
    </div>
    <div th:if="${equipo.formacion}=='4-5-1'">
        <script>
            $(document).ready(function () {
                cambiarFormacion('451')
            });
        </script>
    </div>
    <div>
        <ul style="display: inline-block;">
            <li th:each="pje : ${ptosJorEq}">J <b th:text="${pje.jornada.numeroJornada}"></b> <b>: </b> <b
                    th:text="${pje.puntos}"/> puntos
            </li>
        </ul>
    </div>

    <br><br>

    <div>
        <h1 th:if="${miEquipo==false}">Equipo de <b th:text="${equipo.usuario.user.username}"></b></h1>

        <h1><b th:text="${equipo.name}"></b></h1>
        <div th:if="${miEquipo}" style="display: inline-block">Dinero restante: <b
                th:text="${dineroRestante}"></b>
        </div>
        <div style="display: inline-block">Numero de jugadores: <b th:text="${equipo.jugadores.size}"></b>/24</div>
        <div style="display: inline-block">Puntos: <b th:text="${equipo.puntos}"></b></div>
        <div style="display: inline-block">Valor del equipo: <b th:text="${valorEquipo}"></b></div>
        <div th:if="${miEquipo}" th:align="right">
            <a class="btn btn-default" th:href="@{/liga/{idLiga}/misMovimientos (idLiga= ${liga.id})}">
                <span class="glyphicon glyphicon-signal"></span> Mis movimientos en la liga</a>
        </div>
    </div>
    <div th:if="${miEquipo}" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Formaciones
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='442')}">4-4-2</a>
            </li>
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='433')}">4-3-3</a>
            </li>
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='352')}">3-5-2</a>
            </li>
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='532')}">5-3-2</a>
            </li>
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='451')}">4-5-1</a>
            </li>

        </ul>
    </div>
    <div>Formación actual: <b th:text="${equipo.formacion}"></b></div>

    <div th:replace="~{fragments/campoFutbol :: layout (${equipo.onceInicial}, ${miEquipo})}"></div>

    <h1>Banquillo</h1>
    <br>
    <div style="display: inline-block" th:each="jugador : ${equipo.jugBanquillo}">
        <div class="botonImagen">
            <img th:src="${jugador.foto}"/><a
                th:href="@{/equipo/{idEquipo}/jugador/{idJugador}/jornada/1 (idEquipo = ${equipo.id} ,idJugador= ${jugador.id})}">
            <button class="btn">Detalles</button>
        </a>
        </div>
        <div th:if="${miEquipo}">
            <a th:href="@{/liga/{idLiga}/vender/{idJugador} (idLiga = ${liga.id} ,idJugador= ${jugador.id})}">
                <button class="botonSust">Sacar a subasta</button>
            </a>
        </div>
        <div><b th:text="${jugador.puntos}"/> puntos</div>
    </div>
</h2>
<h2 th:if="${SinEquipo}">
    <h1>Todavía no tienes un equipo creado en esta liga, pincha aquí para crearlo.</h1>
    <a class="btn btn-default" th:href="@{/liga/{idLiga}/nuevoEquipo (idLiga= ${liga.id})}">
        <span class="glyphicon glyphicon-edit"></span> Crear equipo en esta liga</a>
</h2>

</body>

</html>
