<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>

<script>

    function cambiarFormacion(formacion) {
        var jugadores = document.getElementsByClassName("player")
        for (i = 0; i < jugadores.length; i++) {
            var clase = jugadores[i].className

            if (clase.includes('433')) {
                jugadores[i].className = clase.replace('433', formacion);
            } else if (clase.includes('442')) {
                jugadores[i].className = clase.replace('442', formacion);
            } else if (clase.includes('352')) {
                jugadores[i].className = clase.replace('352', formacion);
            }else{
                jugadores[i].className = clase.replace('532', formacion);
            }

        }
    }


</script>

<h2 th:if="${tengoEquipo}">

    <div th:if="${formacion}=='4-3-3'">
        <script>
            $(document).ready(function () {
                cambiarFormacion('433')
            });
        </script>
    </div>
    <div th:if="${formacion}=='3-5-2'">
        <script>
            $(document).ready(function () {
                cambiarFormacion('352')
            });
        </script>
    </div>
    <div th:if="${formacion}=='5-3-2'">
        <script>
            $(document).ready(function () {
                cambiarFormacion('532')
            });
        </script>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Formaciones
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='442')}">4-4-2</a>
            </li>
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='433')}">4-3-3</a>
            </li>
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='352')}">3-5-2</a>
            </li>
            <li>
                <a th:href="@{/liga/{idLiga}/miEquipo/cambiarFormacion/{formacion} (idLiga= ${liga.id},formacion='532')}">5-3-2</a>
            </li>

        </ul>
    </div>
    <br><br>
    <div>
        <h1><b th:text="${equipo.name}"></b></h1>
        <div style="display: inline-block">Dinero restante: <b th:text="${equipo.dineroRestante}"></b>€</div>
        <div style="display: inline-block">Numero de jugadores: <b th:text="${equipo.jugadores.size}"></b>/24</div>
        <div style="display: inline-block">Puntos: <b th:text="${equipo.puntos}"></b></div>
        <div style="display: inline-block">Valor del equipo: <b th:text="${valorEquipo}"></b> mill. €</div>
        <div th:align="right">
            <a class="btn btn-default" th:href="@{/liga/{idLiga}/misMovimientos (idLiga= ${liga.id})}">
                <span class="glyphicon glyphicon-signal"></span> Mis movimientos en la liga</a>
        </div>
    </div>
    <div>Formación actual: <b th:text="${equipo.formacion}"></b></div>
    <div class="field">
        <div class="grass"></div>
        <div class="map">
            <div class="outline"></div>
            <div class="midline"></div>
            <div class="midcircle"></div>
            <div class="spot_center"></div>
            <div class="leftgoals"></div>
            <div class="left_goal"></div>
            <div class="left_circle-area"></div>
            <div class="left_goals_little"></div>
            <div class="spot_left"></div>
            <div class="right_goal"></div>
            <div class="rightgoals"></div>
            <div class="right_circle-area"></div>
            <div class="right_goals_little"></div>
            <div class="spot_right"></div>
        </div>

        <div class="player p1" th:object="${portero}">
            <img th:src="*{foto}" class="image--cover img-responsive">
            <br>
            <div class="message-container--player"><p class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p2-442" th:object="${defensas[0]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p3-442" th:object="${defensas[1]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p4-442" th:object="${defensas[2]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p5-442" th:object="${defensas[3]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p6-442" th:object="${centrocampistas[0]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p7-442" th:object="${centrocampistas[1]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p8-442" th:object="${centrocampistas[2]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p9-442" th:object="${centrocampistas[3]}">
            <div style="display: inline-block;">
                <img th:src="*{foto}" class="image--cover img-responsive">
            </div>
            <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p
                    class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p10-442" th:object="${delanteros[0]}">
            <img th:src="*{foto}" class="image--cover img-responsive">
            <br>
            <div class="message-container--player"><p class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
        <div class="player p11-442" th:object="${delanteros[1]}">
            <img th:src="*{foto}" class="image--cover img-responsive">
            <br>
            <div class="message-container--player"><p class="message--player" th:text="*{name}"></p></div>
            <div class="info">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
            </div>
        </div>
    </div>
    </div>

    <h1>Banquillo</h1>
    <br>
    <div style="display: inline-block" th:each="jugador : ${banquillo}">
        <div>
            <a th:href="@{/equipo/{idEquipo}/jugador/{idJugador}/jornada/1 (idEquipo = ${equipo.id} ,idJugador= ${jugador.id})}"><img
                    th:src="${jugador.foto}"/></a></div>
        <div><b th:text="${jugador.puntos}"/> puntos</div>
    </div>
</h2>
<h2 th:if="${SinEquipo}">
    <h1>Todavía no tienes un equipo creado en esta liga, pincha aquí para crearlo.</h1>
    <a class="btn btn-default" th:href="@{/liga/{idLiga}/nuevoEquipo (idLiga= ${liga.id})}">
        <span class="glyphicon glyphicon-edit"></span> Crear equipo en esta liga</a>
</h2>
</body>

</html>
