<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'detallesEquipo')}">

<body>
<h2 th:if="${tengoEquipo}">
    <h1><b th:text="${equipo.name}"></b></h1>
</h2>
<h2 th:if="${SinEquipo}">
    <h1>Todavía no tienes un equipo creado en esta liga, pincha aquí para crearlo.</h1>
    <a class="btn btn-default" th:href="@{/liga/{idLiga}/nuevoEquipo (idLiga= ${liga.id})}">
        <span class="glyphicon glyphicon-edit"></span> Crear equipo en esta liga</a>
</h2>
</body>

</html>
