<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'detallesOtroEquipo')}">

<body>
    <h1><b th:text="${equipo.name}"></b></h1>
    <b th:each="jugador : ${jugadores}">
        <a th:href="@{/jugador/{idJugador} (idJugador= ${jugador.id})}"
           th:text="${jugador.name}"/></a>
    </b>

    <br/>
    <br/>

    <b>Top 5 jugadores -> </b>
    <b th:each="jugador : ${top5Jugadores}">
        <a th:href="@{/jugador/{idJugador} (idJugador= ${jugador.id})}"
           th:text="${jugador.name}"/></a>
        <b th:text="${jugador.puntos}"></b>
    </b>
</body>

</html>
