<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>

<h2>Mis intercambios</h2>
<table id="intercambios" class="table table-striped">
    <thead>
    <tr>
        <th>Usuario</th>
        <th>Jugador</th>
        <th>Equipo</th>
        <th>Dinero</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="intercambio : ${intercambios}">
        <td th:text="${intercambio.equipoCreadorIntercambio.usuario.user.username}"/>
        <td th:text="${intercambio.jugadorCreadorIntercambio.name}"/>
        <td th:text="${intercambio.equipoCreadorIntercambio.name}"/>
        <td th:text="${intercambio.dinero}"/>
    </tr>

    </tbody>
</table>
</body>
</html>
