<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>
<h2 th:if="${tienesInt==true}">
    <h2>Mis intercambios</h2>
    <table id="intercambios" class="table table-striped">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Mi Jugador</th>
            <th>Su jugador</th>
            <th>Dinero</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="intercambio : ${intercambios}">
            <td><a th:text="${intercambio.equipoCreadorIntercambio.usuario.user.username}" th:href="@{/usuarios/{username}/ (username=${intercambio.equipoCreadorIntercambio.usuario.user.username})}"/></td>
            <td><a th:text="${intercambio.otroJugador.name}" th:href="@{/equipo/{idMiEquipo}/jugador/{idJugador}/jornada/1 (idJugador=${intercambio.otroJugador.id}, idMiEquipo=${miEquipoId})}"/></td>
            <td><a th:text="${intercambio.jugadorCreadorIntercambio.name}" th:href="@{/jugador/{idJugador}/jornada/1 (idJugador=${intercambio.jugadorCreadorIntercambio.id})}"/></td>
            <td th:text="${intercambio.dinero}"/>
            <td>
                <div style="float: right;">
                    <a th:href="@{/liga/{idLiga}/equipos/{idEquipo}/intercambio/{idIntercambio}/aceptar (idLiga=${liga.id}, idEquipo=${intercambio.otroEquipo.id}, idIntercambio=${intercambio.id})}"><i
                            class="fa fa-check fa-2x" aria-hidden="true"></i></a>
                    <a th:href="@{/liga/{idLiga}/equipos/{idEquipo}/intercambio/{idIntercambio}/rechazar (idLiga=${liga.id}, idEquipo=${intercambio.otroEquipo.id}, idIntercambio=${intercambio.id})}"><i
                            class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</h2>
<h2 th:if="${tienesInt == false}">
    Todavía no te han ofrecido ningún intercambio.
</h2>
</body>
</html>
