<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>
<h2 th:if="${tienesInt==true}">
    <h1>Intercambios que me han ofrecido</h1>
    <div th:each="intercambio : ${intercambios}">
        <div class="content">
            <div class="card2" style="--color-card2: #2062ee">
                <img class="topMedal_img" style="margin-top: 15px; width: 70px; float: left" src="/resources/images/intercambio.svg"/>
                <div class="firstinfo" style="margin-left: 15%"><img th:src="${intercambio.jugadorCreadorIntercambio.foto}"/>
                    <i class="fa fa-arrows-h" aria-hidden="true"
                       style="color: #b032fc; font-size: 35px; margin: 20px"></i>
                    <img th:src="${intercambio.otroJugador.foto}"/>
                    <div class="intercambio">
                        <h3><a th:text="${intercambio.equipoCreadorIntercambio.usuario.user.username}"
                               th:href="@{/usuarios/{username}/ (username=${intercambio.equipoCreadorIntercambio.usuario.user.username})}"/>
                            te ha ofrecido intercambiar a <a th:text="${intercambio.jugadorCreadorIntercambio.name}"
                                                             th:href="@{/equipo/{idSuEquipo}/jugador/{idJugador}/jornada/1 (idSuEquipo=${intercambio.equipoCreadorIntercambio.id}, idJugador=${intercambio.jugadorCreadorIntercambio.id})}"/>
                            por tu jugador <a th:text="${intercambio.otroJugador.name}"
                                              th:href="@{/equipo/{idMiEquipo}/jugador/{idJugador}/jornada/1 (idJugador=${intercambio.otroJugador.id}, idMiEquipo=${miEquipoId})}"/>
                        </h3>
                        <h3 style="display: flex">
                            Dinero ofrecido: <div th:text="${intercambio.dinero}"/>€
                        </h3>
                        <div style="float: right; float: bottom">
                            <a th:href="@{/liga/{idLiga}/equipos/{idEquipo}/intercambio/{idIntercambio}/aceptar (idLiga=${liga.id}, idEquipo=${intercambio.otroEquipo.id}, idIntercambio=${intercambio.id})}"><i
                                    class="fa fa-check fa-4x" aria-hidden="true"></i></a>
                            <a style="color: red;" th:href="@{/liga/{idLiga}/equipos/{idEquipo}/intercambio/{idIntercambio}/rechazar (idLiga=${liga.id}, idEquipo=${intercambio.otroEquipo.id}, idIntercambio=${intercambio.id})}"><i
                                    class="fa fa-times fa-4x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</h2>
<h2 th:if="${tienesInt == false}">
    Todavía no te han ofrecido ningún intercambio.
</h2>
</body>
</html>
