<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>


    <title>Login</title>
</head>
<body>
<center>
<h1>Inicio de sesión</h1><br>
<form th:action="@{/login.html}" method="post">
    <label for="username">Usuario</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /><br><br>
    <label for="password">Contraseña</label>:
    <input type="password" id="password" name="password" />
    <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
    <br><br>
    <input type="submit" class="btn btn-default" value="Iniciar sesión" />
</form>
    <br><br>
<a th:href="@{/usuarios/registro}">¿Aún no te has registrado? Regístrate aquí</a>
</center>
</body>
</html>
