<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<div class="row">

    <div class="col-md-9">
        <h1 style="font-size: 32px; font-weight: bold; line-height: 1.5;">Bienvenido a FútGol</h1>
    </div>
    <br>
    <br>
    <div id="container">
        <div id="left"><img th:src="@{/resources/images/logazo.png}"/></div>
        <div id="center"><img th:src="@{/resources/images/partidoAPartido.png}"/></div>
        <div id="right">
            <ul> Regístrate y juega gratuitamente
                <li>¡Sé el mejor GM de tu pandilla!</li>
                <li>Ficha a tus jugadores favoritos</li>
                <li>Crea tus propias alineaciones</li>
            </ul>¡Todo basándose en el rendimiento de los jugadores en la vida real!
        </div>
    </div>
</div>

</body>

</html>
