<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<div class="row">

    <div class="col-md-9">
        <h1 style="font-size: 32px; font-weight: bold; line-height: 1.5;">Bienvenido a FútGol</h1>
    </div>
    <br>
    <br>
    <br><br>
    <div id="container">
        <div style="display: inline-block"><img width="125%" height="125%" th:src="@{/resources/images/portada.png}"/></div>
        <div style="margin-left: 70%; display: inline-block">
            <h2>Regístrate y juega gratuitamente</h2>
            <ul>
                <h4><li>¡Sé el mejor GM de tu pandilla!</li>
                    <li>Ficha a tus jugadores favoritos</li>
                    <li>Crea tus propias alineaciones</li></h4>
            </ul>
            <h4>¡Todo basándose en el rendimiento de los jugadores en la vida real!</h4>
        </div>
    </div>
</div>

</body>

</html>
