<!DOCTYPE html>

<html th:fragment="layout (template, menu)" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/css/futgol.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><span></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span th:text="${text}">Template</span>
        </div>

        <div class="navbar-collapse collapse" id="main-navbar">

            <div sec:authorize="isAuthenticated()">

                <ul class="nav navbar-nav navbar-right">
                    <li th:class="active">
                        <a href='/'>
                            <i class="fa fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>

                    <li th:class="${'jornadas'==menu ? 'active' : ''}">
                        <a href='/jornadas'>
                            <i class="fa fa-futbol-o"></i>
                            <span>Jornadas</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown" data-hover="dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"><i
                                class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                            Rankings </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/topUsuarios"><i class="fa fa-users"></i> Top
                                Usuarios</a></li>
                            <li><a class="dropdown-item" href="/topJugadores"><i class="fa fa-star"></i> Top Jugadores
                            </a></li>
                        </ul>
                    </li>

                    <li th:class="${'equiposReales'==menu ? 'active' : ''}">
                        <a href='/equiposLiga'>
                            <i class="fa fa-shield"></i>
                            <span>Equipos</span>
                        </a>
                    </li>

                    <li th:class="${'ligas'==menu ? 'active' : ''}">
                        <a href='/misligas'>
                            <i class="fa fa-trophy"></i>
                            <span>Mis ligas</span>
                        </a>
                    </li>

                    <li th:class="${'usuarios'==menu ? 'active' : ''}">
                        <a href='/micuenta'>
                            <i class="fa fa-user-circle"></i>
                            <span>Mi cuenta</span>
                        </a>
                    </li>

                    <li>
                        <a href='/logout'>
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">

                    <li th:class="active">
                        <a href='/'>
                            <i class="fa fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown" data-hover="dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"><i
                                class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                            Rankings </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/topUsuarios"><i class="fa fa-users"></i> Top
                                Usuarios</a></li>
                            <li><a class="dropdown-item" href="/topJugadores"><i class="fa fa-star"></i> Top Jugadores
                            </a></li>
                        </ul>
                    </li>

                    <li th:class="${'jornadas'==menu ? 'active' : ''}">
                        <a href='/jornadas'>
                            <i class="fa fa-futbol-o"></i>
                            <span>Jornadas</span>
                        </a>
                    </li>

                    <li th:class="${'equiposReales'==menu ? 'active' : ''}">
                        <a href='/equiposLiga'>
                            <i class="fa fa-shield"></i>
                            <span>Equipos</span>
                        </a>
                    </li>

                    <li th:class="${'registro'==menu ? 'active' : ''}">
                        <a href='/usuarios/registro'>
                            <i class="fa fa-user-plus"></i>
                            <span>Registro</span>
                        </a>
                    </li>

                    <li th:class="${'login'==menu ? 'active' : ''}">
                        <a href='/login'>
                            <i class="fa fa-sign-in"></i>
                            <span>Login</span>
                        </a>
                    </li>
                    <li th:class="${'aboutUs'==menu ? 'active' : ''}">
                        <a href='/aboutUs'>
                            <i class="fa fa-address-card"></i>
                            <span>About us</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<section class='hero'>
    <div class='hero-content'>
        <h2 class='hero-content__title'><br>¡Conviértete en<br><br>el mejor entrenador<br><br> de tu pandilla!</h2>

    </div>
    <div class='hero-box-container'>
        <div class='hero-box'>
            <span class='hero-box__circle hero-box__circle--blue'></span>
            <h2 class='hero-box__title'>Compite para ganar &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-trophy" aria-hidden="true"></i>
            </h2>
            <p class='hero-box__body'>Lucha contra tus amigos escalando puntos en la
                clasificación para acabar siendo el mejor de todos.</p>
        </div>
        <div class='hero-box'>
            <span class='hero-box__circle hero-box__circle--green'></span>
            <h2 class='hero-box__title'>Tú eres el jefe &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-black-tie" aria-hidden="true"></i>
            </h2>
            <p class='hero-box__body'>Lidera a tu equipo: dirige las finanzas, las formaciones y la plantilla,
                controlando las cláusulas de tus jugadores y haciendo al mercado de pujas e intercambios.</p>
        </div>
        <div class='hero-box'>
            <span class='hero-box__circle hero-box__circle--orange'></span>
            <h2 class='hero-box__title'>Mantente informado &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-info" aria-hidden="true"></i>
            </h2>
            <p class='hero-box__body'>Con FútGol, podrás consultar los resultados, clasificación real de la Liga, onces
                ideales y estadísticas de jugadores y equipos. </p>
            </a>
        </div>
    </div>
</section>
</body>
</html>
