<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body},'detallesJornada')}">

<body>

<div th:if="${ultimaJornada}">
    <h1>Última jornada:</h1>
</div>
<h2 th:object="${jornada}"> Jornada <b th:text="*{numeroJornada}"></b></h2>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        Jornadas
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

        <li th:each="jornada : ${jornadas}"><a id=url th:text="*{jornada.id}"
                                               th:href="@{/jornada/{idJornada} (idJornada= ${jornada.id})}"/></li>
    </ul>
</div>
<br><br>
<div th:if="${noOnce}">
    <h1>No existe todavía once ideal de esta jornada.</h1>
</div>
<div>
<div style="display: inline-block;float: right;width: 55%;">
<div th:if="${!noOnce}" class="field">
    <div class="grass"></div>
    <div class="map">
        <div class="outline"></div>
        <div class="midline"></div>
        <div class="midcircle"></div>
        <div class="spot_center"></div>
        <div class="leftgoals"></div>
        <div class="left_goal"></div>
        <div class="left_circle-area"></div>
        <div class="left_goals_little"></div>
        <div class="spot_left"></div>
        <div class="right_goal"></div>
        <div class="rightgoals"></div>
        <div class="right_circle-area"></div>
        <div class="right_goals_little"></div>
        <div class="spot_right"></div>
    </div>

    <div class="player p1" th:object="${jugadores[0]}">
        <img th:src="*{foto}" class="image--cover img-responsive">
        <br>
        <div class="message-container--player"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
                <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p2" th:object="${jugadores[1]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p3" th:object="${jugadores[2]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p4" th:object="${jugadores[3]}">
        <div style="display: inline-block;">
        <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p5" th:object="${jugadores[4]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p6" th:object="${jugadores[5]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p7" th:object="${jugadores[6]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p8" th:object="${jugadores[7]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p9" th:object="${jugadores[8]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p10" th:object="${jugadores[9]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
    <div class="player p11" th:object="${jugadores[10]}">
        <div style="display: inline-block;">
            <img th:src="*{foto}" class="image--cover img-responsive">
        </div>
        <div class="message-container--player" style="display: inline-block; margin-left: 15%"><p class="message--player" th:text="*{name}"></p></div>
        <div class="info">
            <h2 th:text="*{name}"></h2>
            <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
            <h3>Peso: <b th:text="*{peso}"></b> kg</h3>
            <img th:src="*{foto}" width="30%" height="30%">
        </div>
    </div>
</div>
    </div>
<div style="display: inline-block;float: left;">
<table id="partidos" class="table table-striped">
    <thead>
    <tr>
        <th>Equipo Local</th>
        <th>Equipo Visitante</th>
        <th>Resultado</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="partido : ${partidos}">
        <td><a th:href="@{/equiposLiga/{nombreEquipo} (nombreEquipo= ${partido.equipoLocal.name})}"
               th:text="${partido.equipoLocal.name}"/>
        <td><a th:href="@{/equiposLiga/{nombreEquipo} (nombreEquipo= ${partido.equipoVisitante.name})}"
               th:text="${partido.equipoVisitante.name}"/>
        <td th:text="${partido.resultado}"/>
        <td th:text="${partido.fecha}"/>
    </tr>
    </tbody>

</table>
</div>
</div>
</body>
</html>
