<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body},'detallesJornada')}">

<body>

<h2>Jornadas</h2>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        Jornadas
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

        <li th:each="jornada : ${jornadas}"><a id=url th:text="*{jornada.id}"
                                               th:href="@{/jornada/{idJornada} (idJornada= ${jornada.id})}"/></li>
    </ul>
</div>

</br>
<table id="jugadores" class="table table-striped">
    <thead>
    <tr>
        <th>Jugador</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jugador : ${jugadores}">
        <td><a th:href="@{/jugador/{idJugador} (idJugador= ${jugador.id})}" th:text="${jugador.name}"/></a></td>
    </tr>
    </tbody>
</table>
</br>
<table id="partidos" class="table table-striped">
    <thead>
    <tr>
        <th>Equipo Local</th>
        <th>Equipo Visitante</th>
        <th>Resultado</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="partido : ${partidos}">
        <td><a th:href="@{/equiposLiga/{idEquipo} (idEquipo= ${partido.equipoLocal.id})}"
               th:text="${partido.equipoLocal.name}"/>
        <td th:text="${partido.equipoVisitante.name}"/>
        <td th:text="${partido.resultado}"/>
        <td th:text="${partido.fecha}"/>
    </tr>
    </tbody>
</table>
</body>
</html>
