<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body},'detallesJornada')}">

<body>

<div th:if="${ultimaJornada}">
    <h1>Última jornada:</h1>
</div>
<h2 th:object="${jornada}"> Jornada <b th:text="*{numeroJornada}"></b></h2>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        Jornadas
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

        <li th:each="jornada : ${jornadas}"><a id=url th:text="*{jornada.id}"
                                               th:href="@{/jornada/{idJornada} (idJornada= ${jornada.id})}"/></li>
    </ul>
</div>

</br>


<div class="field">
    <div class="grass"></div>
    <div class="map">
        <div class="outline"></div>
        <div class="midline"></div>
        <div class="midcircle"></div>
        <div class="leftgoals"></div>
        <div class="rightgoals"></div>
    </div>


    <div class="player p1">
        <div class="info">
            <div th:object="${jugadores[0]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p2">
        <div class="info">
            <div th:object="${jugadores[1]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p3">
        <div class="info">
            <div th:object="${jugadores[2]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p4">
        <div class="info">
            <div th:object="${jugadores[3]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p5">
        <div class="info">
            <div th:object="${jugadores[4]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p6">
        <div class="info">
            <div th:object="${jugadores[5]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p7">
        <div class="info">
            <div th:object="${jugadores[6]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p8">
        <div class="info">
            <div th:object="${jugadores[7]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p9">
        <div class="info">
            <div th:object="${jugadores[8]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p10">
        <div class="info">
            <div th:object="${jugadores[9]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
    <div class="player p11">
        <div class="info">
            <div th:object="${jugadores[10]}">
                <h2 th:text="*{name}"></h2>
                <h3>Altura: <b th:text="*{altura}"></b> cm</h3>
                <h3>Peso: <b th:text="*{peso}"></b> kg</h3>

            </div>
        </div>
    </div>
</div>

</br>
<table id="partidos" class="table table-striped">
    <thead>
    <tr>
        <th>Equipo Local</th>
        <th>Equipo Visitante</th>
        <th>Resultado</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="partido : ${partidos}">
        <td><a th:href="@{/equiposLiga/{idEquipo} (idEquipo= ${partido.equipoLocal.id})}"
               th:text="${partido.equipoLocal.name}"/>
        <td th:text="${partido.equipoVisitante.name}"/>
        <td th:text="${partido.resultado}"/>
        <td th:text="${partido.fecha}"/>
    </tr>
    </tbody>

</table>
<table id="jugadores" class="table table-striped">
    <thead>
    <tr>
        <th>Jugador</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jugador : ${jugadores}">
        <td><a th:href="@{/jugador/{idJugador} (idJugador= ${jugador.id})}" th:text="${jugador.name}"/></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
