<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">
<body>

<h1>Clasificación de <b th:text="${liga.name}"></b></h1>
<div th:if="${puedeCalcularse}">
    <h3>Nº equipos: <b th:text="${numEquipos}"></b></h3>

    <div class="ganador">
        <h4 th:text="${ganador.name}"/>
        <img style="width: 70px; height: 70px" src="../../static/resources/images/ganador.svg"
             th:src="@{/resources/images/ganador.svg}"/>
        <h4 th:text="${ganador.usuario.user.username}"/>
        <h3>Puntos: <b th:text="${ganador.puntos}"/></h3>
    </div>

    <div class="segundo">
        <h4 th:text="${segundo.name}"/>
        <img style="width: 70px; height: 70px" src="../../static/resources/images/segundo.svg"
             th:src="@{/resources/images/segundo.svg}"/>
        <h4 th:text="${segundo.usuario.user.username}"/>
        <h3>Puntos: <b th:text="${segundo.puntos}"/></h3>
    </div>

    <div class="tercero">
        <h4 th:text="${tercero.name}"/>
        <img style="width: 70px; height: 70px" src="../../static/resources/images/tercero.svg"
             th:src="@{/resources/images/tercero.svg}"/>
        <h4 th:text="${tercero.usuario.user.username}"/>
        <h3>Puntos: <b th:text="${tercero.puntos}"/></h3>
    </div>

    <div class="resto" th:each="equipo, i : ${restoEquipos}">
        <div style="float: right; float: top"><h1 th:text="${i.index + 4}+'º'"></h1></div>
        <div style="display: block">
            <h4><b th:text="${equipo.name}"/></h4>
            <h4 th:text="${equipo.usuario.user.username}"/>
            <h3>Puntos: <b th:text="${equipo.puntos}"/></h3>
        </div>
    </div>
</div>
<div th:if="${noPuedeCalcularse}">
    <h1>Hasta que no haya 3 equipos al menos en la liga no se puede ver la clasifiación.</h1>
</div>
</body>
</html>
