<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'usuarios')}">

<body>

  <h2>
    Nueva liga
  </h2>
  <form th:object="${liga}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Nombre', 'name', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <input type="hidden" name="ligaId" th:value="${liga.id}" />
          <button
                  th:with="text=${liga['new']} ? 'Crear liga' : 'Editar'"
                  class="btn btn-default" type="submit" th:text="${text}">Crear
              Liga</button>
      </div>
    </div>
  </form>
</body>

</html>
