<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas')}">

<body>

<h1>
    Ponle nombre a la liga
</h1>
<br>
<form th:object="${liga}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Nombre', 'name', 'text')}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="hidden" name="ligaId" th:value="${liga.id}"/>
            <button
                    th:with="text=${liga['new']} ? 'Crear liga' : 'Editar'"
                    class="btn btn-success" type="submit" th:text="${text}">Crear
                Liga
            </button>

            <a class="btn btn-danger" th:href="@{/liga/{nombreLiga} (nombreLiga= ${liga.name})}"
            >Cancelar <i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
</form>

</body>

</html>
