<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'liga')}">

<body>


<h1 th:object="${liga}"><b th:text="*{name}"></b></h1>
<h2><b>Administrador: </b><b th:object="${liga}" th:text="*{admin.user.username}"></b></h2>

<ul>
    <li th:object="${liga}"><b th:text="*{name}"> </li>
    <li th:object="${liga}">Usuarios:<b th:text="*{usuarios}"> </li>
</ul>
<a class="btn btn-default"  th:href="@{/usuarios/buscar}"><span class="glyphicon glyphicon-user"></span>Buscar usuario</a>

<a class="btn btn-default"  th:href="@{/liga/editar/{idLiga}(idLiga= ${liga.id})}"><span class="glyphicon glyphicon-user"></span>Editar liga</a>



</body>

</html>
