<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>


<h1 th:object="${liga}"><b th:text="*{name}"></b></h1>
<h2>Administrador: <b th:object="${liga}" th:text="*{admin.user.username}"></b></h2>

<br>
<table id="usuarios" class="table table-striped">
    <thead>
    <tr>
        <th>Equipo</th>
        <th>Usuario</th>
        <th>Puntos</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="equipo : ${equipos}">
        <td><a th:href="@{/liga/{nombreLiga}/equipos/{idEquipo} (nombreLiga= ${liga.name}, idEquipo= ${equipo.id})}"
               th:text="${equipo.name}"/></a></td>
        <td th:text="${equipo.usuario.user.username}"></td>
        <td th:text="${equipo.puntos}"></td>
    </tr>
    </div>
    </tbody>
</table>
<br>
<h2 th:if="${noLimiteEquipos}">
    <h2 th:if="${noTengoEquipo}">
        <a class="btn btn-default" th:href="@{/liga/{idLiga}/nuevoEquipo (idLiga= ${liga.id})}">
            <span class="glyphicon glyphicon-edit"></span> Crear equipo en esta liga</a>
    </h2>
</h2>

<h2 th:if="${soyAdmin}">
    <a class="btn btn-success" th:href="@{/usuarios/buscar}"> Invitar
        usuario <i class="fa fa-search-plus" aria-hidden="true"></i></a>

    <a class="btn btn-primary" th:href="@{/liga/editar/{nombreLiga}/(nombreLiga= ${liga.name})}">Cambiar nombre a la
        liga
        <i class="fa fa-pencil" aria-hidden="true"></i></a>
</h2>


</body>
</html>
