<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'ligas')}">

<body>

  <h2>Mis ligas</h2>

  <table id="ligas" class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
          <th>Administrador</th>
      </tr>
    </thead>
    <tbody>
    <div th:if="${ligas}">
      <tr th:each="liga : ${ligas}">
         <td> <a th:href="@{liga/__${liga.name}__}" th:text="${liga.name}"/></a></td>
        <td th:text="${liga.admin}"></td>
      </tr>
    </div>
    <div th:unless="${ligas}">
        <p> No tienes ninguna liga creada todavía</p>
    </div>

    </tbody>
  </table>
  <a class="btn btn-default" th:href="@{/liga/crear}">Crear liga</a>
</body>
</html>
