<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>

<h2>Jugadores en subasta</h2>
<p>Cada día a las 02:00 se actualizan los jugadores en esta lista.</p>
<table id="subastas" class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="jugador : ${jugadoresSinEquipo}">
        <td><a th:href="@{/jugador/{idJugador}/jornada/1 (idJugador= ${jugador.id})}"
               th:text="${jugador.name}"/></a></td>
        <td><h3><b th:text="${jugador.valor}"></b> mill. €</h3></td>
    </tr>
    </tbody>
</table>

</body>
</html>
