<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'ligas-login')}">

<body>

<h2> Dinero restante: <b th:text="${equipo.dineroRestante}"/> €</h2>
<h2> Valor del jugador: <b th:text="${jugador.valor}"></b> mill. €</h2>
<h3>Debes pujar al menos el valor del jugador para llevártelo.</h3>

<form th:object="${puja}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
        <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Cantidad a pujar', 'cantidad', 'text')}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Pujar</button>
            <button class="btn btn-default"><a th:href="@{/liga/{nombreLiga} (nombreLiga= ${liga.name})}"
            >Cancelar</a></button>
        </div>
    </div>
</form>
</body>
</html>
